@import "animation";

.sudoku {
  text-align: center;
  .main {
    margin-top: 80px;
    position: relative;
    border: 1px solid #333;
    display: inline-block;
    .grp-ln {
      white-space: nowrap;
      .group {
        border: 1px solid #333;
        display: inline-block;
        padding: -1px;
        .row {
          .grid {
            color: #333;
            background-color: #fff;
            margin: 0;
            padding: 0;
            -webkit-appearance:none;
            border: 1px solid #ccc;
            border-radius: 0;
            text-align: center;
            display: inline-block;
            font-size: 14px;
            line-height: 24px;
            width: 24px;
            height: 24px;
            -moz-appearance:textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            &.red {
              animation: shake .5s 0s 1;
              color: #f63;
            }
            &.disabled {
              background-color: #e5e5e5;
            }
            &.win {
              animation: sdk-bg-color 5s 0s 1 cubic-bezier(.42,0,.58,1) forwards;
            }
          }
        }
      }
    }
  }
}